@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-close {
  position: relative;
  background-color: transparent;
  border: none;
  margin-left: 22em;
  font-size: 1.5rem;
  cursor: pointer;
}

.form-header {
  margin-bottom: 20px;
  /* Add your custom styles here */
}

.form-header h2 {
  text-align: center;
  font-size: 24px;
  /* Add your custom styles here */
}

.form-header p {
  margin-top: 10px;
  /* Add your custom styles here */
}

.datepicker-input {
  width: 450px; /* Adjust the width to your desired size */
  height: 40px; /* Adjust the height to your desired size */
  font-size: 16px; /* Adjust the font size to your desired size */
  /* Add any additional styling as needed */
}

.modal-content {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.modal-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: gray;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.modal-confirm {
  background-color: #dc3545;
}
.error-icon {
  margin-right: 5px;
}

.transparent-table {
  background-color: transparent;
}
#myTextarea {
  height: 200px; /* Adjust the height as needed */
  width: 400px; /* Adjust the width as needed */
}

/* Custom CSS for responsive table */
.table-responsive {
  overflow-x: auto;
}

.form-field.disabled {
  color: rgb(171, 157, 157); /* Text color for disabled fields */
}
.table-gray {
  background-color: #8a98b3; /* Replace with your preferred gray color */
}

.table-container {
  display: flex;
  justify-content: center;
}

.link-list {
  color: darkblue;
}
.loading-container {
  position: relative;
}

.success-message {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}

.error-message-fetch {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #a7251c;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}
/* Add this CSS in your styles or a separate CSS file */

/* Add this CSS in your styles or a separate CSS file */

.modal-overlay {
  /* Set overlay styles as per your design */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide the scrollbar for the modal-overlay */
}

.modal-content {
  /* Set modal styles as per your design */
  position: relative; /* Add this to make the button position relative to the modal */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: calc(
    100vh - 40px
  ); /* 100vh minus 40px for padding and button space */
  overflow-y: auto; /* Enable vertical scrolling if the content overflows */
}

.modal-scrollable {
  /* Set styles for the scrollable container */
  overflow-y: auto; /* Enable vertical scrolling if the content overflows */
}

.modal-close {
  /* Set close button styles as per your design */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Custom CSS for pagination buttons */
.pagination-btn {
  padding: 8px 12px;
  background-color: #4a4a4a;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Disable style for disabled buttons */
.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
